## Hypothesis: A higher pupil-teacher ratio in primary school is strongly correlated to persistence to last grade of primary.

In [3]:
import pandas as pd

PUPIL_TEACHER_RATIO: float
PERSISTENCE_TO_LAST_GRADE: float

### First, I'll be reading in the data file

In [4]:
 worldbank = pd.read_csv("../../data/databank_education_2018.csv")

### Now, I'll be counting at the number of rows and columns in the dataset, making sure that works by selecting the first 10 rows.

In [5]:
worldbank.shape
worldbank.head(10)

,Country,SE.COM.DURS,SE.ENR.PRIM.FM.ZS,SE.ENR.PRSC.FM.ZS,SE.ENR.SECO.FM.ZS,SE.ENR.TERT.FM.ZS,SE.PRE.DURS,SE.PRE.ENRL.TC.ZS,SE.PRE.ENRR,SE.PRE.ENRR.FE,...,SH.DYN.1014,SH.DYN.1519,SH.DYN.2024,SL.TLF.TOTL.FE.ZS,SL.TLF.TOTL.IN,SL.UEM.TOTL.FE.ZS,SL.UEM.TOTL.MA.ZS,SL.UEM.TOTL.ZS,SP.POP.0014.TO.ZS,SP.POP.1564.TO.ZS
0,Afghanistan,9.0,0.66691,0.63602,0.57098,0.34523,1.0,NaN,NaN,NaN,...,2.000000,13.800000,17.600000,21.247021,10319282.0,13.920000,10.290000,11.060000,43.090176,54.324898
1,Albania,9.0,1.03765,1.01730,1.00539,1.36299,5.0,17.09409,80.498734,80.790977,...,1.100000,1.800000,1.900000,42.190687,1400072.0,11.870000,12.620000,12.300000,17.672874,68.582390
2,Algeria,10.0,0.95499,NaN,NaN,1.39722,1.0,NaN,NaN,NaN,...,1.700000,2.700000,3.300000,20.126974,12589369.0,20.490000,9.720000,11.890000,30.148679,63.488825
3,Andorra,10.0,NaN,NaN,NaN,NaN,3.0,13.27711,NaN,NaN,...,0.500000,1.400000,2.100000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Angola,6.0,NaN,NaN,NaN,NaN,5.0,NaN,NaN,NaN,...,6.400000,13.100000,19.900000,50.202910,12705650.0,7.280000,6.720000,7.000000,46.808925,50.974702
5,Antigua and Barbuda,11.0,0.99208,0.97924,0.96286,NaN,5.0,NaN,70.253601,74.025070,...,1.000000,2.500000,3.200000,NaN,NaN,NaN,NaN,NaN,22.081092,69.119083
6,Arab World,9.0,0.94617,0.94833,0.95186,1.09935,3.0,21.16757,27.001801,26.855440,...,2.923226,6.268086,8.017785,20.368759,134761988.0,19.903642,7.788688,10.256798,32.780436,62.661687
7,Argentina,14.0,NaN,NaN,NaN,NaN,6.0,NaN,NaN,NaN,...,1.100000,3.500000,4.900000,43.001857,20551682.0,10.540000,8.230000,9.220000,24.760934,64.121277
8,Armenia,12.0,0.99961,1.02283,1.03762,1.24788,3.0,6.27090,38.021290,39.659691,...,1.000000,2.300000,2.700000,44.231575,1245626.0,20.400000,17.830000,18.969999,20.633422,68.112760
9,Aruba,13.0,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17.802447,68.646606

### Next I will be selecting only certain columns I want to look at: Country, Pupil-Teacher Ratio in Primary School, and Persistence to Last Grade in Primary School. I will again select the first 10 rows to make sure this is correct.

In [9]:
country_ratio_persistence = worldbank[["Country", "SE.PRM.ENRL.TC.ZS", "SE.PRM.PRSL.ZS"]]
country_ratio_persistence.head(10)

               Country  SE.PRM.ENRL.TC.ZS  SE.PRM.PRSL.ZS
0          Afghanistan           48.78979             NaN
1              Albania           17.57287       89.046181
2              Algeria           24.32018       91.557251
3              Andorra           10.49757       68.161774
4               Angola                NaN             NaN
5  Antigua and Barbuda           12.40564             NaN
6           Arab World           20.78495       81.550210
7            Argentina                NaN             NaN
8              Armenia           15.41859       95.968178
9                Aruba                NaN             NaN

### Then, I will be selecting rows with complete data and checking by displaying the first 10 rows of the narrowed data set.

In [16]:
fixed_data = country_ratio_persistence[country_ratio_persistence["SE.PRM.ENRL.TC.ZS", "SE.PRM.PRSL.ZS"].notna()]
fixed_data.shape
fixed_data.head(10)

KeyError: ('SE.PRM.ENRL.TC.ZS', 'SE.PRM.PRSL.ZS')